/* show password */
.field-icon {
	float: right;
	margin-right: 8px;
	margin-top: -28px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}


##FAB800 {
	background-color: white;
	border-bottom: 3px solid rgba(25, 165, 102, .6);
}

.navbar-nav .nav-item .nav-link {
	color: #FAB800;
	transition: .2s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
	color: #EF0100
}

h1,
h2,
h3 {
	font-weight: bold;
}

/* badge keranjang */
#badgeKeranjang {
	font-size: .6em;
	top: -10px;
	left: -8px;
}

#badgeNotifikasi {
	font-size: .6em;
	top: -10px;
	left: -8px;
}

html,
body {
	height: 100%;
	width: 100%;
	/* background-color: #F0F2F5; */
	/* overflow-x: hidden; */
}

#page-content {
	flex: 1 0 auto;
}

#sticky-footer {
	background: #FAB800;
	/* background: linear-gradient(357deg, rgba(106, 194, 154, 1) 7%, rgba(77, 162, 124, 1) 22%, rgba(62, 153, 112, 1) 38%, rgba(63, 131, 100, 1) 58%, rgba(35, 112, 77, 1) 80%, rgba(1, 89, 49, 1) 94%); */
	/* border-top: 1px solid rgba(1, 116, 64, 1); */
	flex-shrink: none;
}

#sticky-footer .container {
	padding-top: 20px;
	padding-bottom: 70px;
}

.thumbnail {
	/* background-color: red; */
	width: 100%;
	height: 180px;
	text-align: center;
	display: flex;
	align-items: center;
	overflow-y: hidden;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.thumbnail-detail {
	/* background-color: red; */
	width: 100%;
	height: 400px;
	text-align: center;
	display: flex;
	align-items: center;
	overflow-y: hidden;
}

.thumbnail-detail img {
	width: 100%;
	height: auto;
}

/* .product {
	transition: .3s;
	position: relative;
} */

/* ribbon */
.product {
	transition: .3s;
	position: relative;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* .product .tutup{
	position: absolute;
	width: 100%;
	height: 180px;
	display: flex;
	text-align: center;
	align-items: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .7);
	color: white;
	font-weight: bold;
} */

/* common */
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid #b92941;
  }
  .ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 15px 0;
	background-color: #b92941;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	color: #fff;
	font: 700 18px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
	top: -5px;
	left: -5px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
	border-top-color: transparent;
	border-left-color: transparent;
  }
  .ribbon-top-left::before {
	top: 0;
	right: 0;
  }
  .ribbon-top-left::after {
	bottom: 0;
	left: 0;
  }
  .ribbon-top-left span {
	right: -25px;
	top: 30px;
	transform: rotate(-45deg);
  }

.ribbon-discon {
	width: 100px;
	height: 150px;
	overflow: hidden;
	position: absolute;
  }
  .ribbon-discon::before,
  .ribbon-discon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	/* border: 5px solid #b92941; */
  }
  .ribbon-discon span {
	position: absolute;
	display: block;
	width: 150px;
	padding: 5px 0;
	background-color: #FAB800!important;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	color: #fff;
	font: 700 18px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	text-align: center;
  }
  
  /* top left*/
  .ribbon-discon-top-left {
	top: -5px;
	right: -5px;
  }
  .ribbon-discon-top-left::before,
  .ribbon-discon-top-left::after {
	border-top-color: transparent;
	border-left-color: transparent;
  }
  .ribbon-discon-top-left::before {
	top: 0;
	right: 0;
  }
  .ribbon-discon-top-left::after {
	bottom: 0;
	left: 0;
  }
  .ribbon-discon-top-left span {
	left: -25px;
	top: 0px;
	/* transform: rotate(-45deg); */
  }
  

.shadow-product {
	border: 0;
	margin-top: -5px;
	box-shadow: 0px 30px 10px -20px rgba(25, 165, 102, .75);
}

.penjual {
	position: relative;
	transition: .3s;
}

.shadow-seller {
	/* position: absolute; */
	border: 0;
	margin-top: -3px;
	box-shadow: 0px 30px 10px -20px rgb(25, 165, 102, .50);
}

/* produk di beranda */
#produk-beranda {
	padding: 0 30px;
}

/* Desain halaman profil penjual */
.profil-penjual {
	background-color: rgba(25, 165, 102, .1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0 40px 20px -38px rgba(25, 165, 102, .9);
	padding: 10px 50px;
}

.profil-penjual img {
	width: 150px;
	height: 150px;
	/* border-radius: 50%; */
}

/* slider baner */
.slider {
	/* text-align: center; */
	/* width: 100%; */
	margin: 0 auto;
}

.slick-slide {
	/* margin: 0px 20px; */
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}


.slick-slide {
	/* transform: scale(0.9); */
	transition: all ease-in-out .3s;
	opacity: 1;
}

.slick-slide.slick-center {
	/* transform: scale(1); */
}

.slick-active {
	/* transform: scale(1); */
	/* opacity: .5; */
}

.slick-current {
	/* padding-top: 10px; */
	/* transform: scale(1.); */
	opacity: 1;
}

/* desain produk keranjang */
.checkout {
	width: 100%;
	padding: 10px;
	display: flex;
}

.produk-populer {
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.img-produk-populer {
	height: 160px;
}

.logo-brand {
	/*width: 120px;*/
	height: 10px;
}

#produk-beranda {
	padding: 0px;
}

/* #sticky-footer .container {
	padding-top: 20px;
	padding-bottom: 130px;
} */

.foto-diskusi {
	width: 64px;
	height: 64px;
}

/* gambar detail produk */
.img-produk {
	height: 400px;
	overflow: hidden;
}

.img-produk img {
	height: 100%;
	border-radius: 10px;
}

#badgeSeller {
	color: rgb(218, 165, 32);
}

#widgetBeranda .bg-primary {
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(25, 165, 102, .4);
}

/* navbar kategori */

body.offcanvas-active {
	overflow: hidden;
}

.offcanvas-header {
	display: none;
}

#navKategori ul li {
	z-index: 99999;
}

/* popup */
.main {
	position: relative;
}

.container-popup {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.664);
	/* background-color: red; */
	display: flex;
	z-index: 9999;
}

.popup {
	/* width: 1000px;
	height: 100px; */
	/*background-color: brown;*/
	color: white;
	text-align: center;
	margin: auto;
	display: flex;
	position: relative;
}

.popup img {
	width: 45vmax;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.popup span {
	cursor: pointer;
	position: absolute;
	right: -15px;
	top: -15px;
	/* border: 1px solid black; */
	border-radius: 50%;
	height: 25px;
	width: 25px;
	background-color: rgb(146, 3, 3); 
	line-height: 25px;
}

/* tombol cs */
.ignielToTop {
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: white;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 99;
	cursor: pointer;
	border-radius: 100px;
	transition: all .5s;
	background: #fff;
	transition: .5s;
}

.ignielToTop img {
	width: 50px;
	height: 50px;
}

#textCallMe {
	display: none;
}

.ignielToTop:hover {
	background: #ddd;
	width: 200px;
}

@media (max-width: 992px) {
	.offcanvas-header {
		display: block;
	}

	#navKategori {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: #fff;
		transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}

	#navKategori.show {
		visibility: visible;
		transform: translateX(-100%);
		z-index: 99999;
	}
}

@media (min-width: 992px) {
	.dropdown-menu .dropdown-toggle:after {
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}

	.dropdown-menu .dropdown-menu {
		margin-left: 0;
		margin-right: 0;
	}

	.dropdown-menu li {
		position: relative;
	}

	.nav-item .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}

	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}

	.menu-kategori>li:hover {
		/* background-color: #f1f1f1 */
		background-color: #EF0100
		color: white;
	}

	.menu-kategori>li a:hover {
		/* background-color: #f1f1f1 */
		background-color: #EF0100
		color: white;
	}

	.menu-kategori>li:hover>.submenu {
		display: block;
	}
}

@media (max-width: 576px) {
	.dropdown-menu .dropdown-toggle:after {
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}

	.dropdown-menu .dropdown-menu {
		margin-left: 0;
		margin-right: 0;
	}

	.dropdown-menu li {
		position: relative;
	}

	.nav-item .submenu {
		display: none;
		position: relative;
		/* left: 100%; */
		left: 0;
		top: -7px;
	}

	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}

	.menu-kategori>li:hover {
		/* background-color: #f1f1f1 */
		color: #EF0100
		/* color: white; */
	}

	.menu-kategori>li a:hover {
		/* background-color: #f1f1f1 */
		color: #EF0100
		/* color: white; */
	}

	.menu-kategori>li:hover>.submenu {
		display: block;
	}
}

/* end navbar */

/* autocomplete search bar */

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	z-index: 99999999;
}

.ui-autocomplete>li>div {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
	cursor: pointer;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* autocomplete search bar */

#widgetBeranda b {
	font-size: 1rem;
}

/* timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
	margin: 20px 0;
    padding-left: 20px;
	border-bottom: 1px dashed #FABC13;
}
ul.timeline > li:before {
	content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #FABC13;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline > li > span {
	color: #FABC13;
}

/* responsive */
/* @media (max-width: 480px) {
	.logo-brand {
		height: 20px;
	}
} */

@media only screen and (max-width: 600px) {
	.logo-brand {
		/*width: 120px;*/
		height: 20px;
	}

	#produk-beranda {
		padding: 0;
	}

	#sticky-footer .container {
		padding-top: 20px;
		padding-bottom: 120px;
	}

	.img-produk-populer {
		height: 150px;
	}

	.foto-diskusi {
		width: 100px;
		height: 100px;
	}
}

@media only screen and (min-width: 600px) {
	.logo-brand {
		/*width: 120px;*/
		height: 20px;
	}

	#navKategori {
		/* margin-left: 50px; */
	}

	#produk-beranda {
		padding: 0 40px;
	}

	#sticky-footer .container {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	.fix-filter {
		/* padding-top: 100px; */
		position: -webkit-sticky;
		/* Safari */
		position: sticky;
		top: 80px;
		/* padding-top: 20px; */
	}
}

@media (min-width: 768px) {
	.logo-brand {
		/*width: 120px;*/
		height: 20px;
	}

	#navKategori {
		/* margin-left: 50px; */
	}

	#produk-beranda {
		padding: 0 40px;
	}

	#sticky-footer .container {
		padding-top: 20px;
		padding-bottom: 80px;
	}

	.fix-filter {
		/* padding-top: 100px; */
		position: -webkit-sticky;
		/* Safari */
		position: sticky;
		top: 80px;
		/* padding-top: 20px; */
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.logo-brand {
		/*width: 120px;*/
		height: 18px;
	}

	.fix-filter {
		/* padding-top: 100px; */
		position: -webkit-sticky;
		/* Safari */
		position: sticky;
		top: 80px;
		/* padding-top: 20px; */
	}

	.img-produk-populer {
		height: 100px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.logo-brand {
		/*width: 120px;*/
		height: 30px;
	}

	.fix-filter {
		/* padding-top: 100px; */
		position: -webkit-sticky;
		/* Safari */
		position: sticky;
		top: 80px;
		/* padding-top: 20px; */
	}
}